@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --glass-bg: rgba(255, 255, 255, 0.6);
}

html,
body,
#root {
    height: 100%;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(6px) saturate(1.1);
}